<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @efimeride.date %>
</p>

<p>
  <strong>Text:</strong>
  <%= @efimeride.text %>
</p>

<p>
  <strong>Category:</strong>
  <%= @efimeride.category_id %>
</p>
<%= image_tag(@efimeride.image.to_s) %>

<%= image_tag(@efimeride.image.url, alt: 'Image') if @efimeride.image? %>

<%= link_to 'Edit', edit_efimeride_path(@efimeride) %> |
<%= link_to 'Back', efimerides_path %>
